<template>
  <section>
    <div class="header">
      <div class="title">Twenty Eight </div>
      <div>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Twenty-eight_(card_game)" >Game rules</a>
        <span> | </span>
        <span>Hint: use "move next" for auto play next</span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="box3"></div>
        <div class="box3">
          <Player :player="player4" player-number="4"></Player>
        </div>
        <div class="box3"></div>
      </div>
      <div class="row">
        <div class="box3">
          <Player :player="player5" player-number="5"></Player>
        </div>
        <div class="box3">
          <div v-if="showBid" class="bid">
            <div class="bid-pass clickable" @click="pass">Pass</div>
            <span> | </span>
            <div class="bid-thani clickable" @click="thani">Thani</div>
            <div class="bid-values">
              <div class="bid-value clickable" 
                    v-for="n in 13"
                    @click="setBidValue(n + 15)"
                    :key="n"
                    :class="{ 'bid-selected-value' : (n + 15) === bidValue}"
                  >{{ n + 15 }}</div>
              <div class="bid-message">{{bidMessage}}</div>
            </div>
          </div>
        </div>
        <div class="box3">
          <Player :player="player3" player-number="3"></Player>
        </div>
      </div>
      <div class="row">
        <div class="box3">
          <Player :player="player6" player-number="6"></Player>
        </div>
        <div class="box3">
          <div v-if="showOpenTrump" @click="openTrump" class="open-trump-card clickable">Open Trump Card</div>
          <div :message-type="roundMessage.type" class="message">{{roundMessage.text}}</div>
        </div>
        <div class="box3">
          <Player :player="player2" player-number="2"></Player>
        </div>
      </div>
      <div class="row">
        <div class="box3"></div>
        <div class="box3">
          <Player :player="player1" player-number="1"></Player>
        </div>
        <div class="box3">
          <div v-if="isEmptyGame === false">
            <a v-if="roundStatus !== 'Ended'" @click="getNext" class="btn" href="#" title="Next">MOVE NEXT ⏩</a>
            <span class="btn"> | </span>
            <a @click="restartRound" class="btn" href="#" title="Restart Round">RESTART ROUND 🔄</a>
            <a v-if="roundStatus === 'Ended'" @click="moveToNextRound" class="btn" href="#" title="Move To Next Round">TO NEXT ROUND⏩⚪</a>
          </div>
          <div v-if="isEmptyGame">
            <a @click="startGame" class="btn" href="#" title="Start Game">NEW GAME 🆕</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <div class="cards">
            <card
              v-for="card in hand"
              :key="card.rank + card.suit"
              :card="card"
              @clicked="playCard(card)"
            >
            </card>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Card from './card'
import Player from './player'
import { mapState } from 'vuex'
import { Round } from '../store/game'

const state = {
  bidMessage: '',
  bidValue: null
}

export default {
  name: 'game',
  components: {
    Card,
    Player
  },
  data: () => state,
  methods: {
    restartRound: function () {
      this.$store.dispatch('restartRound')
    },
    moveToNextRound: function () {
      this.$store.dispatch('moveToNextRound')
    },
    getNext: function () {
      this.$store.dispatch('getNext')
    },
    startGame: function () {
      this.$store.dispatch('startGame')
    },
    pass: function () {
      this.$store.dispatch('pass')
    },
    thani: function () {
      this.$store.dispatch('thani')
    },
    bid: function (card) {
      if (!this.bidValue) {
        this.bidMessage = 'Choose a Bid Value First'
      } else {
        this.$store.dispatch('bid', {card: card, bid: this.bidValue})
        this.bidValue = null
        this.bidMessage = ''
      }
    },
    openTrump: function () {
      this.$store.dispatch('openThurupu')
    },
    setBidValue: function (bidValue) {
      this.bidValue = bidValue
      this.bidMessage = 'Bid is ' + bidValue + ', now pick a Trump Card'
    },
    playCard: function (card) {
      if (this.isUserCurrentPlayer) {
        if (this.playStarted) {
          this.$store.dispatch('playCard', card)
        } else {
          this.bid(card)
        }
      }
    }
  },
  computed: mapState({
    'isUserCurrentPlayer': state => Round.isUserCurrentPlayer(state.game.round),
    'playStarted': state => Round.biddingCompleted(state.game.round),
    'isThaniBid': state => Round.isThaniBid(state.game.round),
    'roundMessage': state => state.game.round.message,
    'roundStatus': state => state.game.round.status,
    'isEmptyGame': state => state.game.round.id === '00000000-0000-0000-0000-000000000000',
    'player1': state => state.game.round.players[0],
    'player2': state => state.game.round.players[1],
    'player3': state => state.game.round.players[2],
    'player4': state => state.game.round.players[3],
    'player5': state => state.game.round.players[4],
    'player6': state => state.game.round.players[5],
    'showBid': function () {
      return !this.playStarted && this.isUserCurrentPlayer
    },
    'showOpenTrump': function (state) {
      return this.playStarted && !this.isThaniBid && this.isUserCurrentPlayer && !state.game.round.bid.openedPlayerId
    },
    'hand': function () {
      return this.player1.hand.filter(function (card) {
        return card.type !== 'Hidden'
      })
    }
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.open-trump-card{
  background-color: #d9de13;
  border-radius: 30px;
  display: inline-block;
  padding: 2px 20px;
}
.bid{
  font-size: 20px;
  font-weight: bold;
}
.bid-pass,
.bid-thani{
  padding: 5px;
  display: inline-block;
}
.bid-value {
  display: inline-block;
  padding: 16px;
}
.bid-selected-value:hover{
  color:black !important;
}
.bid-selected-value{
  background-color: white;
  border-radius: 30px;
}
.clickable:hover{
  color: white;
  cursor: pointer;
}
.title{
  color:white;
  font-size: x-large;
  font-weight: bolder;
}
.header{
  height:28px;
  width:100%;
}
.footer{
  height:16px;
  width:100%;
}
.container{
  height:calc(100% - 44px);
}
.row{
  display:flex;
  flex-direction:row;
  height:20%;
}
.box3{
  flex:0 0 33%;
}
.box{
  flex-basis: 100%;
}
.cards{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.message[message-type="Error"]{
  color: #b12020;
}
h1, h2 {
  font-weight: normal;
}
section {
  height:100%;
  width:100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background: #3be24b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #3be24b 0%, #258c20 74%, #398235 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3be24b), color-stop(74%,#258c20), color-stop(100%,#398235)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #3be24b 0%,#258c20 74%,#398235 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #3be24b 0%,#258c20 74%,#398235 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #3be24b 0%,#258c20 74%,#398235 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #3be24b 0%,#258c20 74%,#398235 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3be24b', endColorstr='#398235',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn{
  font-size: 10px;
  color: white;
  font-weight: 700;
}
</style>
