<template>
    <div :card-type="card.type" class="card">
        <div class="mini-container">
            <span class="number">{{number}}</span>
        </div>
        <suit class="suit-icon" :suit="card.suit"></suit>
    </div>
</template>
<script>
import { rankMapper } from '../utils'
import Suit from './suit'
export default {
  name: 'minicard',
  props: ['card'],
  components: {
    Suit
  },
  computed: {
    'number': function () {
      return rankMapper(this.card.rank)
    }
  }
}
</script>

<style scoped>
    .card{
        flex: 0 1 auto;
        border-color: #d8d8d8;
        border-width: 1px;
        border-style: solid;
        background-color: white;
        border-radius: 8px;
        position: relative;
        width: 60px;
        height: 85px;
    }
    .mini-container{
        position: absolute;
        left: 0;
        width:24px;
        top: 4px;
    }
    .number{
        font-weight: 500;
        font-size: 22px;
        text-align: center;
    }
    .mini-container .suit{
      line-height: 0;
      font-size: 20px;
    }
    .suit-icon{
        font-size: 70px !important;
        line-height: 1.4;
    }
</style>
