<template>
    <div class="player" :player-number="playerNumber" v-bind:class="{ 'current-player': isCurrentPlayer }">
        <div class="details" :player-number="playerNumber">
            <div v-if="isDealer" class="dealer" title="Dealer">D</div>
            <div class="title" title="Player Name">{{player.name}}</div>
            <div v-if="showBidInfo" class="bid">
              <span>{{bidText}}</span>
              <suit :suit="bidSuit"></suit>
            </div>
            <div v-if="player.kunukus > 0" class="kunuku" title="# of kunuku">{{player.kunukus}}</div>
        </div>
        <div class="played">
            <div v-if="!playStarted" class="message">{{player.message}}</div>
            <minicard   
                v-for="trick in tricks"
                :card="trick.playedCard"
                :key="trick.PlayerId"
            >
            </minicard>
        </div>
    </div>
</template>
<script>
    import Suit from './suit'
    import Minicard from './minicard'
    import { filter } from 'lodash'
    import { mapState } from 'vuex'
    import { Round } from '../store/game'
    
    export default {
      name: 'player',
      components: { Minicard, Suit },
      props: ['player', 'playerNumber'],
      computed: mapState({
        'isThaniBid': state => Round.isThaniBid(state.game.round),
        'playStarted': state => Round.playCount(state.game.round) > 0,
        'bidSuit': state => state.game.round.bid.thurupu.suit,
        isDealer (state) {
          return this.player.playerId === state.game.round.startingPlayerId
        },
        showBidInfo (state) {
          return this.player.playerId === state.game.round.bid.bidderId && !this.isThaniBid
        },
        bidText (state) {
          if (this.showBidInfo) {
            return state.game.round.bid.value
          }
          return ''
        },
        isCurrentPlayer (state) {
          return this.player.playerId === state.game.round.currentPlayerId
        },
        tricks (state) {
          var playCount = Round.playCount(state.game.round)
          if (!playCount) {
            return []
          }
          var setIndex = Math.floor((playCount - 1) / 6)
          return filter(state.game.round.sets[setIndex].tricks, {playerId: this.player.playerId})
        }
      })
    }
</script>
<style scoped>
    .player{
        width:100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .player[player-number="4"]{
        margin-top:22px;
        flex-direction: column;
    }
    .player[player-number="1"]{
        margin-top:-22px;
        flex-direction: column-reverse;
    }
    .player[player-number="2"],
    .player[player-number="3"]{
        flex-direction:row-reverse;
    }
    .played{
        flex:0 0 60px;
    }
    .current-player .details{
        border-color: yellow;
        border-width: 3px;
    }
    .details{
        background-color: #168fcc;
        border: white;
        border-width: 0;
        border-style: solid;
        min-width: 150px;
        border-radius: 15px;
        padding: 5px;
        flex:0 0 50%;
    }
    .details[player-number="1"],
    .details[player-number="4"]{
        flex-basis:20%;
    }
    .details[player-number="1"],
    .details[player-number="3"],
    .details[player-number="5"]{
        background-color:#8f2890;
    }
    .title{
        padding: 5px 10px;
        display: inline-block;
        float: left;
        font-weight: bolder;
    }
    .kunuku{
        color: white;
        margin-right:10px;
        float: right;
        display: inline-block;
        background-color:grey;
        padding:5px;
        margin-bottom:2px;
        padding-right: 9px;
        padding-left: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        font-weight: bold;
        line-height: 16px;
    }
    .dealer{
        color: white;
        font-weight: bolder;
        background-color: black;
        float: left;
        display: inline-block;
        padding: 4px;
        border-radius: 10px;
    }
    .cards{
        display:flex;
        flex-direction:row;
        justify-content:center;
    }
    .bid{
      float: right;
      margin-top: 4px;
      display: inline-block;
      padding: 2px 4px;
      font-size: 11.844px;
      font-weight: bold;
      line-height: 14px;
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      vertical-align: baseline;
      background-color: #999999;
      padding-right: 9px;
      padding-left: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
    }
</style>
