<template>
    <span :suit-type="suit" class="suit">{{suitText}}</span>
</template>
<script>
  export default {
    name: 'suit',
    props: ['suit'],
    computed: {
      'suitText': function () {
        if (this.suit === 'Heart') {
          return '♥'
        }
        if (this.suit === 'Clubs') {
          return '♣'
        }
        if (this.suit === 'Dice') {
          return '♦'
        }
        if (this.suit === 'Spade') {
          return '♠'
        }
        return ''
      }
    }
  }
</script>

<style scoped>
  .suit{
        text-align: center;
    }
    .suit[suit-type="Heart"],
    .suit[suit-type="Dice"]{
        color:red;
    }
    .suit[suit-type="Clubs"],
    .suit[suit-type="Spade"]{
        color:black;
    }
</style>
